* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Clearfix */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Home-Bar */
.home-bar {
  position: fixed;
  background-color: white;
  padding: 0px 20px;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 1;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.sx {
  float: left;
}

.dx {
  float: right;
}

.dx p {
  margin-bottom: 20px;
}

/* Logo */
#logo {
  padding-bottom: 5px;
  vertical-align: middle;
}

.sx .link {
  margin-left: 30px;
}

.dx .link {
  margin-right: 30px;
}

/* Bottoni */
.btn {
  background-color: #0061ff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Main */

.jumbo-color {
  /* height: 750px; */
  /* width: 100%; */
  background-color: #b4d0e7;
}

.jumbo {
  position: relative;
  padding-top: 5%;
  width: 70%;
  margin: 0 auto;
  bottom: -80px;
}

.jumbo .sx {
  width: 30%;
}

.jumbo .dx {
  width: 65%;
}

h1 {
  font-size: 75px;
  padding-bottom: 40px;
}

.jumbo p {
  padding-bottom: 40px;
  width: 395px;
}

.jumbo .small {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px;
}

.fa-arrow-down {
  font-size: 40px;
}

.jumbo img {
  height: 500px;
  margin-left: 20px;
}

/* Center */

#plans {
  padding-top: 100px;
}

.container-center {
  width: 60%;
  margin: 0 auto;
}

/* Radio Button */
.fatturazione {
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 60px;
}

#mensile input {
  border: solid 20px #0061ff;
  /* padding-left: 20px; */
}

label {
  padding-right: 20px;
}

/* Colonne */

.colonna {
  float: left;
  height: 900px;
  width: calc((100% / 3) - 40px);
  border: 1px solid grey;
  margin-bottom: 50px;
}

.centrale {
  margin-left: 60px;
  margin-right: 60px;
}

.title {
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.plan {
  padding: 30px;
  font-size: 14px;
}

h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.little-text {
  color: grey;
  margin-bottom: 50px;
}

.utenti,
.spazio,
.funzioni {
  margin-bottom: 20px;
}

.oppure {
  margin: 20px 0px;
}

.acquista {
  color: #166eff;
  border-bottom: 1px solid #166eff;
}

.linea {
  border-bottom: 1px solid grey;
  width: 50px;
  margin: 20px 0px;
}

.linea h5 {
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
}

li {
  list-style: none;
}

.plan li {
  margin-bottom: 25px;
}

.fa-check {
  color: #0061ff;
}

/* Sezione Enterprise */

.title-plan {
  text-align: center;
  padding: 10px 0px;
  border: 1px solid grey;
  border-bottom: none;
}

.enterprise {
  border: 1px solid grey;
}

#soluzioni {
  margin-top: 25px;
}

/* Sezione partner */

.partner {
  margin-top: 100px;
}

.partner .dx {
  width: 40%;
  /* margin-left: 5%; */
}

.partner a {
  border: 1px solid black;
  padding: 10px 20px;
}

#img1 {
  height: 500px;
}

/* Sezione operations */

.operations h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.operations img {
  height: 200px;
}

.operations h3,
.operations p {
  width: 260px;
}

.col2 {
  float: left;
  width: calc((100% / 3) - 40px);
  margin-bottom: 100px;
}

/* Sezione Team */

.team {
  margin-bottom: 50px;
}

.team h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* Sezione Sponsor */

.col-side {
  height: 30vw;
  width: 30vw;
}

.col-center {
  float: left;
  background-color: #f5f5f5;
  padding: 50px;
  height: 30vw;
  width: calc(100% - 60vw);
  overflow-y: auto;
}

.barra {
  height: 1px;
  background-color: #d0d0d3;
  width: 50px;
  margin: 30px 0px;
}

.col-center img {
  width: 25%;
}

.col-center p {
  margin: 50px 0px;
}

.col-center span {
  padding-bottom: 10px;
}

.sponsor {
  display: inline-block;
  height: 15vw;
  width: 15vw;
  text-align: center;
  line-height: 15vw;
}

.sponsor img {
  width: 50%;
  vertical-align: middle;
  filter: invert(1);
}

/* Colori Sponsor */
.green {
  background-color: #a2d39b;
}

.brown {
  background-color: #61082b;
}

.ligh-blue {
  background-color: #0093ce;
}

.red {
  background-color: #ff1c1c;
}

.heavenly {
  background-color: #b4d0e7;
}

.blue {
  background-color: #0d2481;
}

.yellow {
  background-color: #ffd830;
}

/* Prova Gratuita */

.background-blue {
  height: 350px;
  background-color: #b4d0e7;
}

.background-blue h2 {
  color: #61082b;
  width: 60%;
}

.container2 {
  width: 60%;
  padding-top: 120px;
  margin: 0 auto;
}

.white {
  background-color: white;
}

/* Sezione faq */

.faq {
  padding: 35px 0px;
  border-bottom: 1px solid #d0d0d3;
}

.top {
  border-top: 1px solid #d0d0d3;
}

/* Footer */

footer {
  margin-top: 150px;
  padding-top: 80px;
  height: 500px;
  background-color: black;
}

.up {
  margin: 0 auto;
}

.up,
.bottom {
  width: 80%;
}

/* Colonne */

.col {
  float: left;
  width: 20%;
}

.col h5 {
  font-size: 18px;
  padding-bottom: 15px;
  color: white;
}

.col a {
  display: inline-block;
  margin-top: 8px;
  color: white;
}

/* Footer Bottom */

.bottom {
  border-top: 1px solid white;
  margin-top: 100px;
  margin-left: 10%;
  width: 100px;
}
.language {
  margin-top: 50px;
}

.language a {
  color: grey;
}
