* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Clearfix */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Home-Bar */
.home-bar {
  height: 80px;
  width: 100%;
  line-height: 80px;
  margin: 0 auto;
  /* background-color: red; */
}

.sx {
  float: left;
}

.dx {
  float: right;
}

/* Logo */
#logo {
  padding-left: 20px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.sx .link {
  margin-left: 30px;
}

.dx .link,
.btn {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

/* Bottoni */
.btn {
  background-color: #0061ff;
  color: white;
  padding: 8px 20px;
}

/* Main */

.jumbo-color {
  height: 750px;
  /* width: 100%; */
  background-color: #b4d0e7;
}

.jumbo {
  padding-top: 5%;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 75px;
  padding-bottom: 40px;
}

p {
  padding-bottom: 40px;
  width: 395px;
}

.jumbo .small {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px;
}

.fa-arrow-down {
  font-size: 40px;
}

.jumbo img {
  height: 500px;
  margin-left: 20px;
}

/* Center */
.container-center {
  padding-top: 200px;
  width: 70%;
  margin: 0 auto;
}

.fatturazione {
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}

#mensile input {
  border: solid 20px #0061ff;
  /* padding-left: 20px; */
}

label {
  padding-right: 20px;
}
